@import './variables';
@import './planets';
@import './modals';
@import './spaceship';


*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background-color: #2d3f66;
    background-image: url(../images/background-image.jpg);
    text-align: center;
    font-family: 'Alegreya SC', serif;
    color: #fff;
    overflow: hidden;
}

.main-heading {
    font-size: 56px;
    letter-spacing: 3px;
    text-shadow: 4px 4px $blue;
}

.quiz-description {
    font-size: 20px;
}

.question {
    margin-top: 60px;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    text-align: center;

    &__content {
        font-size: 24px;
    }
}

.answers {
    display: flex;
    justify-content: center;

    &__button {
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 15px;
        min-width: 150px;
        cursor: pointer;
        transition: .2s;

        &:hover {
            transform: scale(1.1);
            box-shadow: 4px 4px 10px grey;
        }
    }
}

.wrong-answer-line {
    width: 2px;
    height: 4px;
    margin: 25px auto;
    background-color: $red;
    box-shadow: 0 0 10px 7px $red;
    opacity: 0;
    transition: .2s;

    &.run {
        width: 90vw;
        opacity: 1;
    }
}

.button {
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    font-family: 'Alegreya SC', serif;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    outline: none;

    &:hover {
        transform: scale(1.1);
        box-shadow: 4px 4px 10px grey;
    }
}

.start-button {
    @extend .button;
    margin-top: 70px;
    width: 200px;
    height: 50px;
    background-color: $blue;

    &:hover {
        background-color: lighten($blue, 10%);
    }

    &.moved {
        position: absolute;
        left: 30px;
        bottom: 110px;
    }
}

.finish-button {
    @extend .button;
    margin-top: 70px;
    width: 200px;
    height: 50px;
    background-color: $red;
    position: absolute;
    left: 30px;
    bottom: 40px;

    &:hover {
        background-color: lighten($red, 10%);
    }
}

.results {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;

    &__heading {
        letter-spacing: 2px;
        margin-bottom: 0;
    }

    .correct-answers-number, .wrong-answers-number {
        span {
            font-weight: bold;
            font-size: larger;
        }
    }
    .correct-answers-number {
        color: $blue;
        margin: 0;
    }
    .wrong-answers-number {
        color: $red;
        margin-top: 0;
    }
}

.hidden {
    display: none;
}
